.search-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 32px 32px 0 32px;
  margin-top: 80px;
}

.search-container {
  height: 100%;
}

@media screen and (max-width: 533px) {
  .search-container {
    margin-top: 60px;
  }
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  margin: 22px 0 0 0;
  width: 100%;
}

@media screen and (max-width: 533px) {
  .search {
    margin: 20px 0 0 0;
    min-height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.search__button {
  padding: 5px 15px 0 60px;
  width: 217px;
  height: 70px;
  margin-left: 24px;
  background-color: #4f27bf;
  background-image: url("../../images/search.png");
  background-repeat: no-repeat;
  background-position: 40px center;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
}

@media screen and (max-width: 1091px) {
  .search__button {
    padding: 5px 10px 0 70px;
    width: 217px;
    background-position: 20px center;
  }
}

@media screen and (max-width: 533px) {
  .search__button {
    margin: 0;
  }
}

.search__input {
  width: 75.2%;
  margin: 0;
  border: 3px solid #4f27bf;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  padding-left: 20px;
  color: #1c1c1e;
}

::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #6c6c6c;
}

.search-section__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1c1c1e;
  margin: 0;
}

@media screen and (max-width: 533px) {
  .search-section__title {
    text-align: center;
  }
}
.search-section__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1c1c1e;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 533px) {
  .search-section__subtitle {
    width: 80%;
    text-align: center;
    margin: 10px auto 0 auto;
  }
}

.search-wrapper {
  margin-top: 30px;
  min-height: 680px;
  padding: 0 24px;
  border: 2px rgba(2, 0, 97, 0.25) solid;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
}

.search-wrapper__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1c1c1e;
  margin: 26px 0 0 0;
}

.search-wrapper__trait {
  margin-top: 15px;
  color: #dfdfdf;
  opacity: 0.3;
  width: 100%;
  height: 1px;
}

.search-wrapper__thumb {
  background: transparent !important;
}

.info-wrap {
  min-height: 1400px;
}

@media screen and (max-width: 963px) {
  .info-wrap {
    min-height: 1450px;
  }
}

@media screen and (max-width: 542px) {
  .info-wrap {
    min-height: 1550px;
  }
}

@media screen and (min-width: 321px) and (max-width: 541px) {
  .info-wrap {
    min-height: 2000px;
  }
}

@media screen and (max-width: 320px) {
  .info-wrap {
    min-height: 2300px;
  }
}
