
.content {
/* min-height: 944px; */
/* height: 944px; */
/* z-index: 1; */
height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow-y:hidden;
}
.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;

}